* {
  border-sizing: border-box;
}

header {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  text-align: center;
  padding: 5px;
  margin: auto;
  border-style: solid;
  border-width: 5px;
}

img {
  display: block;
  max-width: 99%;
  height: auto;
  border-style: solid;
  border-width: 10px;
  border-color: #222;
}

.firstImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topMenu{
  margin: auto;
  margin-top: 10px;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
}

li {
  float: left;
}

li a {
  display: block;
  color: White;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
