* {
  border-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  text-align: center;
  padding: 5px;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
}

li {
  float: left;
}

li a {
  display: block;
  color: White;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

footer {
  text-align: center;
  background-color: grey;
  border-style: solid;
  border-width: black;
}

.topMenu {
  margin: auto;
  margin-top: 10px;
  max-width: 100%;
}

.headerImg {
  border-style: solid;
  border-width: 5px;
}

.mainContainer:after {
  padding: 15px;
  content: "";
  display: table;
  clear: both;
}

.leftColumn {
  float: left;
  background-color: lightgrey;
  padding: 10px;
  width: 15%;
}

.bio {
  padding: 10px;
  background-color: grey;
  margin-top: 10px;
}

.links {
  padding: 10px;
  background-color: grey;
  margin-top: 10px;
}

.rightColumn {
  float: left;
  width: 85%;
}

#maini{
  display: block;
  width: 100%;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
